<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <uiUpload>
        <processor mode="on" type="JammyKam.SC.ModalFix.Pipelines.Upload.CheckSize, JammyKam.SC.ModalFix"
            patch:instead="*[@type='Sitecore.Pipelines.Upload.CheckSize, Sitecore.Kernel']" />
        <processor mode="on" type="JammyKam.SC.ModalFix.Pipelines.Upload.Done, JammyKam.SC.ModalFix"
            patch:instead="*[@type='Sitecore.Pipelines.Upload.Done, Sitecore.Kernel']" /> 
      </uiUpload>
    </processors>
  </sitecore>
</configuration>